<%- include("header", {jsFiles: ["main/mainSlide.js", "main/mainCarousel.js"]}) %>

    <div id="container">
        <div class="section1">
            <div class="controls">
                <ul class="controlsMenu">
                    <li class="on">국제관광지원</li>
                    <li>국민관광지원</li>
                    <li>관광산업지원</li>
                    <li>디지털전환지원</li>
                </ul>
            </div>
            <div class="controlsM">
                <div class="controlsWrap">
                    <div class="arrowWrap left">
                        <span class="material-symbols-outlined arrow left">
                            arrow_back_ios</span>
                    </div>

                    <p class="title">국제관광지원</p>

                    <div class="arrowWrap right">
                        <span class="material-symbols-outlined arrow right">
                        arrow_forward_ios</span>
                    </div>
                </div>
            </div>
            <div class="titleWrap">
                <div class="titleBox on">
                    <div class="center">
                        <div class="subtitle">
                            <span>한국관광공사 주요사업</span>
                        </div>
                        <h2 class="maintitle">
                            코로나19로 인해 침체된 방한관광시장을 위해 노력합니다.
                        </h2>
                        <p class="context">
                            한국관광공사는 코로나19로 인해 침체되고, 얼어붙은 방한관광시장의 조기 회복과 재도약을 위해 국제관광지원 사업을 추진합니다.
                        </p>
                        <a href="/business01" class="linkBtn">
                            <div class="moreBtnWrap">
                                <span class="text">자세히 보기</span>                        
                                <span class="material-symbols-outlined moreArrow">
                                    arrow_forward</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="titleBox">
                    <div class="center">
                        <div class="subtitle">
                            <span>한국관광공사 주요사업</span>
                        </div>
                        <h2 class="maintitle">
                            국민이 안심하고 편안하게 여행할 수 있도록 노력합니다.
                        </h2>
                        <p class="context">
                            한국관광공사는 국민이 안심하고 편안하게 여행할 수 있는 관광복지를 통한 국민의 삶의 질 향상 및 지역경제 활성화를 위해 노력합니다.
                        </p>
                        <a href="/business02" class="linkBtn">
                            <div class="moreBtnWrap">
                                <span class="text">자세히 보기</span>                        
                                <span class="material-symbols-outlined moreArrow">
                                    arrow_forward</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="titleBox">
                    <div class="center">
                        <div class="subtitle">
                            <span>한국관광공사 주요사업</span>
                        </div>
                        <h2 class="maintitle">
                            민간이 주도하고 지역이 발전하는 관광산업 성장을 지원합니다.
                        </h2>
                        <p class="context">
                            관광생태계 구성원인 소비자와 기업, 지역의 혁신·협업·성장을 도모하여 산업 내의 성과 창출을 강화하기 위해 노력합니다.
                        </p>
                        <a href="/business03" class="linkBtn">
                            <div class="moreBtnWrap">
                                <span class="text">자세히 보기</span>                        
                                <span class="material-symbols-outlined moreArrow">
                                    arrow_forward</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="titleBox">
                    <div class="center">
                        <div class="subtitle">
                            <span>한국관광공사 주요사업</span>
                        </div>
                        <h2 class="maintitle">
                            여행하기 좋은 디지털 관광국가 실현을 위해 노력합니다.
                        </h2>
                        <p class="context">
                            글로벌 표준을 선도하는 디지털 관광 강국 위상 확보하여 관광수요 선점을 통해 세계적인 관광지로 도약하기 위한 다양한 프로그램을 지원합니다.
                        </p>
                        <a href="/business04" class="linkBtn">
                            <div class="moreBtnWrap">
                                <span class="text">자세히 보기</span>                        
                                <span class="material-symbols-outlined moreArrow">
                                    arrow_forward</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="bgWrap">
                <div class="overlay"></div>
                <div class="bgSlide">
                    <div class="bgConts on">
                        <img src="/img/main_visual_01-min.png" alt="">
                    </div>
                    <div class="bgConts">
                        <img src="/img/main_visual_02-min.png" alt="">
                    </div>
                    <div class="bgConts">
                        <img src="/img/main_visual_03-min.jpg" alt="">
                    </div>
                    <div class="bgConts">
                        <img src="/img/main_visual_04-min.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="section2">
            <div class="center">
                <div class="leftConts">
                    <div class="titleWrap">
                        <div class="subtitle">
                            <span>즐길거리</span>
                        </div>
                        <h2 class="maintitle">
                            한국관광공사가<br>
                            추천하는 국내 행사
                        </h2>
                        <p class="context">
                            국내 관관산업 활성화를 위하여 대한민국 구석구석 숨어있는 관광명소들을 찾아내어 정보를 공개해드리고 있습니다. 국민 여러분들의 많은 관심 부탁드립니다.
                        </p>
                    </div>
                    <a href="/festival" class="moreBtn">
                        <div class="moreBtnWrap">
                            <span class="text">더보기</span>                        
                            <span class="material-symbols-outlined moreArrow">
                                arrow_forward</span>
                        </div>
                    </a>
                </div>

                <div class="rightConts">
                    <div class="contsWrap">
                        <% if (festivalResult) { %>
                            <% for( let i = 0; i < 6; i++ ) { %>
                                <div class="conts">
                                    <a href="/festival/detail/<%- festivalResult[i].festivalCount%>">
                                        <div class="imgWrap">
                                            <img src="/upload/<%- festivalResult[i].thumbImg[0]%>">
                                        </div>
                                        <div class="textWrap">
                                            <h5><%- festivalResult[i].title%></h5>
                                            <p><%- festivalResult[i].textArea%></p>
                                        </div>
                                    </a>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="section3">
            <div class="center">
                <div class="leftConts">
                    <div class="titleWrap">
                        <div class="subtitle">
                            <span>기관소개</span>
                        </div>
                        <h2 class="maintitle">
                            국민에게 신뢰받는<br>관광 선도기관
                        </h2>
                    </div>
                    <a href="/ceoGreet" class="linkBtn">
                        <div class="moreBtnWrap">
                            <span class="text">인사말</span>                        
                            <span class="material-symbols-outlined moreArrow">
                                arrow_forward</span>
                        </div>
                    </a>
                    <a href="/innovationVision" class="linkBtn">
                        <div class="moreBtnWrap">
                            <span class="text">설립목적</span>                        
                            <span class="material-symbols-outlined moreArrow">
                                arrow_forward</span>
                        </div>
                    </a>
                </div>

                <div class="rightConts">
                    <a href="/ethicNormOutline">
                        <div class="rLeft">                        
                            <h5>
                                윤리·인권 경영<br>클린 케이티오 <span>(Clean KTO)</span>
                            </h5>
                            <p>관광산업의 Total Service Provider로써 한국관광의 새로운 성장을 구현하고 소속직원 뿐만 아니라 나아가 공사활동과 관련한 이해관계자 모두의 인권을 존중하고, 사람 존중의 인권경영을 펼쳐 나가고 있습니다.</p>
        
                            <div class="plusBtn">
                                <span class="material-symbols-outlined plusIcon">
                                    add</span>
                            </div>
                        </div>
                    </a>

                    <!-- <div class="rRight">
                        <ul class="quickMenu">
                            <li>
                                <a href="#">
                                    <div class="iconBox">
                                        <span class="material-symbols-outlined quickIcon">
                                            maps_ugc</span>
                                    </div>
                                    <div class="quickText">
                                        <h5>똑똑한 문의</h5>
                                        <p>공사 업무와 관련한 문의를 남겨주세요.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="iconBox">
                                        <span class="material-symbols-outlined quickIcon">
                                            error</span>
                                    </div>
                                    <div class="quickText">
                                        <h5>관광불편 신고</h5>
                                        <p>쾌적한 관광 환경을 위해 노력합니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="iconBox">
                                        <span class="material-symbols-outlined quickIcon">
                                            task_alt</span>
                                    </div>
                                    <div class="quickText">
                                        <h5>관광정보 등록/수정</h5>
                                        <p>정보의 오류나 신규 관광지를 제보해주세요.</p>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div> -->
                </div>
            </div>
        </div>

        <div class="section4">
            <div class="center">
                <div class="titleWrap">
                    <div class="subtitle">
                        <span>알림마당</span>
                    </div>
                    <h2 class="maintitle">
                        한국관광공사의<br>새로운 이야기들
                    </h2>

                    <a href="/press" class="linkBtn">
                        <div class="moreBtnWrap">
                            <span class="text">자세히 보기</span>                        
                            <span class="material-symbols-outlined linkArrow">
                                arrow_forward</span>
                        </div>
                    </a>
                </div>

                <div class="contents">
                    <div class="contsWrap">
                        <% if (pressResult) { %>
                            <% for( let i = 0; i < 3; i++ ) { %>
                                <div class="contsBox">
                                    <a href="/press/detail/<%- pressResult[i].pressCount%>">                                
                                        <p class="category">보도자료</p>
                                        <span class="material-symbols-outlined plusIcon">
                                            add</span>
                                        <div class="cont">
                                            <h3><%- pressResult[i].title%></h3>
                                            <p><%- pressResult[i].textArea%></p>
                                        </div>
                                        <div class="date">
                                            <p><%- pressResult[i].writeDate%></p>
                                        </div>
                                    </a>
                                </div>
                            <% } %>
                        <% } %>
                        <div class="carousel">
                            <div class="carouselWrap">
                                <div class="carouselConts test1">
                                    <a href="#">
                                        <img src="/img/carousel_1.png">
                                    </a>
                                </div>
                                <div class="carouselConts test2">
                                    <a href="#">
                                        <img src="/img/carousel_2.png">
                                    </a>
                                </div>
                                <div class="carouselConts test3">
                                    <a href="#">
                                        <img src="/img/carousel_3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carouselBtns">
                            <span class="material-symbols-outlined arrow left">
                                arrow_back</span>

                            <div class="btnsCenter">
                                <p class="carouselNum"><span>01</span> / 03</p>
                                <div class="playPause">
                                    <i class="fa-solid fa-pause pause"></i>
                                    <i class="fa-solid fa-play play hide"></i>
                                </div>
                            </div>

                            <span class="material-symbols-outlined arrow right">
                                arrow_forward</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("footer") %>