<%- include("../header", {jsFiles: [""]}) %>

    <div id="press_detail" class="press">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">보도자료</h2>
                    <p class="topSubTit">Korea Tourism Organization Press Release</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <ul class="location">
                    <li><a href="#">Home</a></li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">알림마당</a>
                    </li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">보도자료</a>
                    </li>
                </ul>
                <div class="contTitleWrap">
                    <h2 class="contsTitle">보도자료</h2>
                    <p class="contSubTitle">한국관광공사와 관련된 보도자료들을 확인해보세요.</p>
                </div>
                <% if (data) { %>
                    <div class="contsWrap">
                        <div class="contsDetail">
                            <div class="content1">
                                <div class="boardConts">
                                    <div class="contsTop">
                                        <div class="titleWrap">
                                            <h3 class="title"><%- data.title %></h3>
                                            <p class="uploadDate">2023-05-23</p>
                                        </div>
                                        <div class="metaWrap">
                                            <dl>
                                                <dt>작성자</dt>
                                                <dd><%- data.writer %></dd>
                                            </dl>
                                            <dl>
                                                <dt>담당부서</dt>
                                                <dd><%- data.department %></dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="contsBot">
                                        <% for( let i = 0; i < data.detailImg.length; i++ ) { %>
                                            <img src="/upload/<%- data.detailImg[i] %>">
                                        <% } %>
                                        <p>
                                            <%- data.textArea %>
                                        </p>
                                    </div>
                                </div>
    
                                <div class="boardBtns">
                                    <div class="editBtns">
                                        <a class="deletePost" href="#">삭제</a>
                                        <!-- <a class="editPost" href="#">수정</a> -->
                                    </div>
                                    <a class="goList" href="/press">목록</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                <% } %>
            </div>
        </div>
    </div>

<%- include("../footer") %>  