<%- include("../header", {jsFiles: []}) %>

    <div id="press" class="press">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">보도자료</h2>
                    <p class="topSubTit">Korea Tourism Organization Press Release</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <ul class="location">
                    <li><a href="#">Home</a></li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">보도자료</a>
                    </li>
                </ul>
                <div class="contTitleWrap">
                    <h2 class="contsTitle">보도자료</h2>
                    <p class="contSubTitle">한국관광공사와 관련된 보도자료들을 확인해보세요.</p>
                </div>

                <div class="contsWrap">
                    <div class="contsDetail">
                        <div class="content1">
                            <form id="boardWrap" class="boardWrap" action="/pressSearch" method="get">
                                <div class="boardTop">
                                    <p class="boardNum">총 <span><%- totalData %></span>건의 보도자료가 있습니다.</p>
                                </div>

                                <div class="boardBot">
                                    <% if (data) { %>
                                        <% for( let i = 0; i < data.length; i++ ) { %>
                                            <div class="boradList">
                                                <a href="/press/detail/<%- data[i].pressCount %>">
                                                    <div class="imgWrap">
                                                        <img src="/upload/<%- data[i].thumbImg[0] %>">
                                                    </div>
                                                    <div class="infoWrap">
                                                        <h5 class="title"><%- data[i].title %></h5>
                                                        <p class="context"><%- data[i].textArea %></p>
                
                                                        <div class="infoBot">
                                                            <span class="moreView">자세히보기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </div>
                                
                                <% if (login) { %>
                                    <% if (login.memberId === "admin") { %>
                                        <div class="boardBtns">
                                            <a class="newPost" href="/press/register">글쓰기</a>
                                        </div>
                                    <% } %>
                                <% } %>
                            </form>

                            <div class="pagenation">
                                <% if (blockStart > totalBlock) { %>
                                    <a class="front" href="?page=<%- blockStart - 1 %>">
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_left</span>
                                    </a>
                                <% } %>
                                <% for( let i = blockStart; i <= blockEnd; i++ ) { %>
                                    <div class="numberWrap">
                                        <% if (pageNumber == i) { %>
                                            <a class="number active" href="?page=<%- i %>"><%- i %></a>
                                        <% } else { %>
                                            <a class="number" href="?page=<%- i %>"><%- i %></a>
                                        <% } %>
                                    </div>
                                <% } %>

                                <% if (blockNum < totalBlock) { %>
                                    <a class="back" href="?page=<%- blockEnd + 1 %>">
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right</span>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

<%- include("../footer") %>  