<%- include("../header", {jsFiles: ["sub/notice.js"]}) %>
    
    <div id="notice" class="notice">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">공지사항</h2>
                    <p class="topSubTit">Korea Tourism Organization Notice</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <ul class="location">
                    <li><a href="#">Home</a></li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">공지사항</a>
                    </li>
                </ul>
                <div class="contTitleWrap">
                    <h2 class="contsTitle">공지사항</h2>
                    <p class="contSubTitle">한국관광공사 이용 시 공지사항을 참고해주세요.</p>
                </div>

                <div class="contsWrap">
                    <div class="contsDetail">
                        <div class="content1">
                            <div class="boardWrap">
                                <div class="boardBot">
                                    <table class="list">
                                        <tr>
                                            <th class="no">NO</th>
                                            <th class="title">제목</th>
                                            <th class="date">날짜</th>
                                            <th class="writer">담당부서</th>
                                        </tr>
                                        <% if (data) { %>
                                            <% for( let i = 0; i < data.length; i++ ) { %>
                                                <tr>
                                                    <td class="no"><%- data[i].noticeCount %></td>
                                                    <td class="title">
                                                        <a href="/notice/detail/<%-data[i].noticeCount%>">
                                                            <span class="new">NEW</span>
                                                            <%- data[i].title %>
                                                        </a>
                                                    </td>
                                                    <td class="date"><%- data[i].writeDate %></td>
                                                    <td class="writer"><%- data[i].department %></td>
                                                </tr>
                                            
                                            <% } %>
                                        <% } %>
                                    </table>
                                </div>
                                
                                <% if (login) { %>
                                    <% if (login.memberId === "admin") { %>
                                        <div class="boardBtns">
                                            <a class="newPost" href="/notice/register">글쓰기</a>
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>

                            <div class="pagenation">
                                <% if (blockStart > totalBlock) { %>
                                    <a class="front" href="?page=<%- blockStart - 1 %>">
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_left</span>
                                    </a>
                                <% } %>
                                <% for( let i = blockStart; i <= blockEnd; i++ ) { %>
                                    <div class="numberWrap">
                                        <% if (pageNumber == i) { %>
                                            <a class="number active" href="?page=<%- i %>"><%- i %></a>
                                        <% } else { %>
                                            <a class="number" href="?page=<%- i %>"><%- i %></a>
                                        <% } %>
                                    </div>
                                <% } %>

                                <% if (blockNum < totalBlock) { %>
                                    <a class="back" href="?page=<%- blockEnd + 1 %>">
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right</span>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

<%- include("../footer") %>  