<%- include("../header", {jsFiles: ["sub/festival.js"]}) %>

    <div id="festival" class="festival">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">추천행사</h2>
                    <p class="topSubTit">Recommended Korean Events</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <ul class="location">
                    <li><a href="#">Home</a></li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">추천행사</a>
                    </li>
                </ul>
                <div class="contTitleWrap">
                    <h2 class="contsTitle">추천행사</h2>
                    <p class="contSubTitle">한국관광공사가 엄선하여 추천하는 행사들을 즐겨보세요.</p>
                </div>

                <div class="contsWrap">
                    <div class="contsDetail">
                        <div class="content1">
                            <form action="/festivalSearch" method="get" class="boardWrap">
                                <div class="boardTop">
                                    <p class="boardNum">총 <span><%- totalData %></span>건의 추천행사가 있습니다.</p>
                                    <div class="searchForm" action="">
                                        <div class="selWrap">
                                            <div class="findBtn">
                                                <a class="findSelBtn" href="">
                                                    행사명
                                                </a>
                                                <span class="material-symbols-outlined moreIcon">expand_more</span>
                                            </div>
                                            <ul class="findSelect">
                                                <li data-findValue="title">행사명</li>
                                                <li data-findValue="location">지역</li>
                                            </ul>

                                            <input type="hidden" name="findSelectValue" id="findSelectValue" value="title">
                                        </div>
                                        <input class="festivalSearch" name="festivalSearch" type="text" placeholder="검색어를 입력하세요" value="<%- inputTxt %>">
                                        <button class="searchBtn" type="submit">
                                            <img src="/img/ico_board_search_white.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                                
                                <div class="boardBot">
                                    <div class="listWrap">
                                        <% if (data) { %>
                                            <% for( let i = 0; i < data.length; i++ ) { %>
                                                <div class="list">
                                                    <a href="/festival/detail/<%- data[i].festivalCount %>">
                                                        <div class="imgWrap">
                                                            <img src="/upload/<%- data[i].thumbImg[0] %>">
                                                        </div>
                                                        <div class="contsWrap">
                                                            <h5><%- data[i].title %></h5>
                                                            <div class="date">
                                                                <span class="material-symbols-outlined icons">calendar_month</span>
                                                                <p class="date"><%- data[i].festivalStartDate %> ~ <%- data[i].festivalLastDate %></p>
                                                            </div>
                                                            <div class="location">
                                                                <span class="material-symbols-outlined icons">location_on</span>
                                                                <p class="date"><%- data[i].location %></p>
                                                            </div>
                                                            <button class="button" href="#">
                                                                <span class="material-symbols-outlined plus">add</span>
                                                            </button>
                                                        </div>
                                                    </a>
                                                </div>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>

                                <% if (login) { %>
                                    <% if (login.memberId === "admin") { %>
                                        <div class="boardBtns">
                                            <a class="newPost" href="#">글쓰기</a>
                                        </div>
                                    <% } %>
                                <% } %>
                            </form>

                            <div class="pagenation">
                                <% if (blockStart > totalBlock) { %>
                                    <a class="front" href="?page=<%- blockStart - 1 %>">
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_left</span>
                                    </a>
                                <% } %>
                                <% for( let i = blockStart; i <= blockEnd; i++ ) { %>
                                    <div class="numberWrap">
                                        <% if (pageNumber == i) { %>
                                            <a class="number active" href="?page=<%- i %>"><%- i %></a>
                                        <% } else { %>
                                            <a class="number" href="?page=<%- i %>"><%- i %></a>
                                        <% } %>
                                    </div>
                                <% } %>

                                <% if (blockNum < totalBlock) { %>
                                    <a class="back" href="?page=<%- blockEnd + 1 %>">
                                        <span class="material-symbols-outlined">
                                            keyboard_arrow_right</span>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("../footer") %>  