<%- include("../header", {jsFiles: []}) %>

    <div id="festival" class="festival">
        <div class="topSection">
            <div class="overlay"></div>
            <div class="center">
                <div class="topTitWrap">
                    <h2 class="topTit">추천행사</h2>
                    <p class="topSubTit">Recommended Korean Events</p>
                </div>
            </div>
        </div>
        <div class="contentsWrap">
            <div class="center">
                <ul class="location">
                    <li><a href="#">Home</a></li>
                    <li class="locaArrow"><span  class="material-symbols-outlined">
                        navigate_next</span></li>
                    <li>
                        <a href="#">추천행사</a>
                    </li>
                </ul>
                <div class="contTitleWrap">
                    <h2 class="contsTitle">추천행사</h2>
                    <p class="contSubTitle">한국관광공사가 엄선하여 추천하는 행사들을 즐겨보세요.</p>
                </div>

                <div class="contsWrap">
                    <div class="contsDetail">
                        <div class="content1">
                            <form action="" class="boardWrap">
                                <div class="boardTop">
                                    <p class="boardNum">총 <span>70</span>건의 추천행사가 있습니다.</p>
                                    <div class="searchForm" action="">
                                        <input class="festivalSearch" type="text" placeholder="검색어를 입력하세요">
                                        <button class="searchBtn" type="submit">
                                            <img src="/img/ico_board_search_white.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                                
                                <div class="boardBot">
                                    <div class="listWrap">
                                        <% if (data) { %>
                                            <% for( let i = 0; i < data.length; i++ ) { %>
                                                <div class="list">
                                                    <a href="#">
                                                        <div class="imgWrap">
                                                            <img src="/upload/<%- data[i].thumbImg[0] %>">
                                                        </div>
                                                        <div class="contsWrap">
                                                            <h5><%- data[i].title %></h5>
                                                            <div class="date">
                                                                <span class="material-symbols-outlined icons">calendar_month</span>
                                                                <p class="date"><%- data[i].festivalStartDate %> ~ <%- data[i].festivalLastDate %></p>
                                                            </div>
                                                            <div class="location">
                                                                <span class="material-symbols-outlined icons">location_on</span>
                                                                <p class="date"><%- data[i].location %></p>
                                                            </div>
                                                            <button class="button" href="#">
                                                                <span class="material-symbols-outlined plus">add</span>
                                                            </button>
                                                        </div>
                                                    </a>
                                                </div>
                                            <% } %>
                                        <% } %>
                                        <!-- <div class="list">
                                            <a href="#">
                                                <div class="imgWrap">
                                                    <img src="/img/festival/festival_1.jpg">
                                                </div>
                                                <div class="contsWrap">
                                                    <h5>사계축제 꽃 기억해 (봄)</h5>
                                                    <div class="date">
                                                        <span class="material-symbols-outlined icons">calendar_month</span>
                                                        <p class="date">5. 19. ~ 28. / 10:00~17:00</p>
                                                    </div>
                                                    <div class="location">
                                                        <span class="material-symbols-outlined icons">location_on</span>
                                                        <p class="date">서울시 도봉구</p>
                                                    </div>
                                                    <button class="button" href="#">
                                                        <span class="material-symbols-outlined plus">add</span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list">
                                            <a href="#">
                                                <div class="imgWrap">
                                                    <img src="/img/festival/festival_2.jpg">
                                                </div>
                                                <div class="contsWrap">
                                                    <h5>사계축제 꽃 기억해 (봄)</h5>
                                                    <div class="date">
                                                        <span class="material-symbols-outlined icons">calendar_month</span>
                                                        <p class="date">5. 19. ~ 28. / 10:00~17:00</p>
                                                    </div>
                                                    <div class="location">
                                                        <span class="material-symbols-outlined icons">location_on</span>
                                                        <p class="date">서울시 도봉구</p>
                                                    </div>
                                                    <button class="button" href="#">
                                                        <span class="material-symbols-outlined plus">add</span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list">
                                            <a href="#">
                                                <div class="imgWrap">
                                                    <img src="/img/festival/festival_3.png">
                                                </div>
                                                <div class="contsWrap">
                                                    <h5>사계축제 꽃 기억해 (봄)</h5>
                                                    <div class="date">
                                                        <span class="material-symbols-outlined icons">calendar_month</span>
                                                        <p class="date">5. 19. ~ 28. / 10:00~17:00</p>
                                                    </div>
                                                    <div class="location">
                                                        <span class="material-symbols-outlined icons">location_on</span>
                                                        <p class="date">서울시 도봉구</p>
                                                    </div>
                                                    <button class="button" href="#">
                                                        <span class="material-symbols-outlined plus">add</span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list">
                                            <a href="#">
                                                <div class="imgWrap">
                                                    <img src="/img/festival/festival_4.png">
                                                </div>
                                                <div class="contsWrap">
                                                    <h5>사계축제 꽃 기억해 (봄)</h5>
                                                    <div class="date">
                                                        <span class="material-symbols-outlined icons">calendar_month</span>
                                                        <p class="date">5. 19. ~ 28. / 10:00~17:00</p>
                                                    </div>
                                                    <div class="location">
                                                        <span class="material-symbols-outlined icons">location_on</span>
                                                        <p class="date">서울시 도봉구</p>
                                                    </div>
                                                    <button class="button" href="#">
                                                        <span class="material-symbols-outlined plus">add</span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list">
                                            <a href="#">
                                                <div class="imgWrap">
                                                    <img src="/img/festival/festival_5.jpg">
                                                </div>
                                                <div class="contsWrap">
                                                    <h5>사계축제 꽃 기억해 (봄)</h5>
                                                    <div class="date">
                                                        <span class="material-symbols-outlined icons">calendar_month</span>
                                                        <p class="date">5. 19. ~ 28. / 10:00~17:00</p>
                                                    </div>
                                                    <div class="location">
                                                        <span class="material-symbols-outlined icons">location_on</span>
                                                        <p class="date">서울시 도봉구</p>
                                                    </div>
                                                    <button class="button" href="#">
                                                        <span class="material-symbols-outlined plus">add</span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list">
                                            <a href="#">
                                                <div class="imgWrap">
                                                    <img src="/img/festival/festival_6.png">
                                                </div>
                                                <div class="contsWrap">
                                                    <h5>사계축제 꽃 기억해 (봄)</h5>
                                                    <div class="date">
                                                        <span class="material-symbols-outlined icons">calendar_month</span>
                                                        <p class="date">5. 19. ~ 28. / 10:00~17:00</p>
                                                    </div>
                                                    <div class="location">
                                                        <span class="material-symbols-outlined icons">location_on</span>
                                                        <p class="date">서울시 도봉구</p>
                                                    </div>
                                                    <button class="button" href="#">
                                                        <span class="material-symbols-outlined plus">add</span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list">
                                            <a href="#">
                                                <div class="imgWrap">
                                                    <img src="/img/festival/festival_7.jpg">
                                                </div>
                                                <div class="contsWrap">
                                                    <h5>사계축제 꽃 기억해 (봄)</h5>
                                                    <div class="date">
                                                        <span class="material-symbols-outlined icons">calendar_month</span>
                                                        <p class="date">5. 19. ~ 28. / 10:00~17:00</p>
                                                    </div>
                                                    <div class="location">
                                                        <span class="material-symbols-outlined icons">location_on</span>
                                                        <p class="date">서울시 도봉구</p>
                                                    </div>
                                                    <button class="button" href="#">
                                                        <span class="material-symbols-outlined plus">add</span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list">
                                            <a href="#">
                                                <div class="imgWrap">
                                                    <img src="/img/festival/festival_8.jpg">
                                                </div>
                                                <div class="contsWrap">
                                                    <h5>사계축제 꽃 기억해 (봄)</h5>
                                                    <div class="date">
                                                        <span class="material-symbols-outlined icons">calendar_month</span>
                                                        <p class="date">5. 19. ~ 28. / 10:00~17:00</p>
                                                    </div>
                                                    <div class="location">
                                                        <span class="material-symbols-outlined icons">location_on</span>
                                                        <p class="date">서울시 도봉구</p>
                                                    </div>
                                                    <button class="button" href="#">
                                                        <span class="material-symbols-outlined plus">add</span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list">
                                            <a href="#">
                                                <div class="imgWrap">
                                                    <img src="/img/festival/festival_9.png">
                                                </div>
                                                <div class="contsWrap">
                                                    <h5>사계축제 꽃 기억해 (봄)</h5>
                                                    <div class="date">
                                                        <span class="material-symbols-outlined icons">calendar_month</span>
                                                        <p class="date">5. 19. ~ 28. / 10:00~17:00</p>
                                                    </div>
                                                    <div class="location">
                                                        <span class="material-symbols-outlined icons">location_on</span>
                                                        <p class="date">서울시 도봉구</p>
                                                    </div>
                                                    <button class="button" href="#">
                                                        <span class="material-symbols-outlined plus">add</span>
                                                    </button>
                                                </div>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="boardBtns">
                                    <a class="newPost" href="#">글쓰기</a>
                                </div>
                            </form>

                            <div class="pagenation">
                                <a class="frontMost" href="#">
                                    <span class="material-symbols-outlined">
                                        keyboard_double_arrow_left</span>
                                </a>
                                <a class="front" href="#">
                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_left</span>
                                </a>
                                <div class="numberWrap">
                                    <a class="number active" href="#">1</a>
                                    <a class="number" href="#">2</a>
                                    <a class="number" href="#">3</a>
                                    <a class="number" href="#">4</a>
                                    <a class="number" href="#">5</a>
                                </div>
                                <a class="back" href="#">
                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_right</span>
                                </a>
                                <a class="backMost" href="#">
                                    <span class="material-symbols-outlined">
                                        keyboard_double_arrow_right</span>
                                </a>
                            </div>
                            <div class="pagenationM">                                
                                <a class="frontMost" href="#">
                                    <span class="material-symbols-outlined pageArrow">
                                        keyboard_double_arrow_left</span>
                                </a>
                                <a class="front" href="#">
                                    <span class="material-symbols-outlined pageArrow">
                                        keyboard_arrow_left</span>
                                </a>
                                <a class="number active" href="#"><span>1</span> / 20</a>
                                <a class="back" href="#">
                                    <span class="material-symbols-outlined pageArrow">
                                        keyboard_arrow_right</span>
                                </a>
                                <a class="backMost" href="#">
                                    <span class="material-symbols-outlined pageArrow">
                                        keyboard_double_arrow_right</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("../footer") %>  